h1 a {
    color: #FCA205;
}

.panel-heading a, .panel-heading a:visited {
    color: #FFFFFF !important;
}

body { padding-top: 140px; }

i.fa-star {
    color:orange;
}

.thumbnail {
    padding: 10px;
}

.search_result {
    font-size:large;
    margin-bottom: 20px;
}

.search_result a {
    font-weight: bold;

}
