{% extends "open_review/base.html" %}
{% block body %}

<section>
  <form action="{% url 'open_review:advanced_search' %}" method="post" class="col-lg-6 col-md-6" id="form_advanced_search">
    <table class="table table-bordered table-hover table-condensed">
      <caption>Advanced search</caption>
      <thead>
        <tr>
    	  <td></td>
          <td>Field</td>
          <td>Matching</td>
	  <td></td>
        </tr>
      </thead>
      <tbody id="body_advanced_search">
      </tbody>
      <tfoot>
        <tr>
	  <td></td>
          <td><button class="btn btn-secondary active">Search</button></td>
        </tr>
      </tfoot>
    </table>
  </form>
</section>

<script>
INDEX_ROW = 0

  function cellLink() {
    var cell_link = document.createElement("td")
    cell_link.id = "cellLink_" + INDEX_ROW
    var input_link = document.createElement("select")
    input_link.name = "link[]"
    input_link.className = "form-control"

    var options = ["AND", "OR", "NOT"]
    var opt
    var index
    for (index = 0; index < options.length; ++index) {
      opt = options[index]
      var connector = document.createElement("option")
      connector.value = opt
      connector.innerHTML = opt
      input_link.appendChild(connector)
    }

    cell_link.appendChild(input_link)
    return cell_link
}

  function cellField() {
    var cell_field = document.createElement("td")
    cell_field.id = "cellField_" + INDEX_ROW
    var input_field = document.createElement("select")
    input_field.name = "field[]"
    input_field.className = "form-control"

    var options = [
      "All Fields", "Affiliation", "Author", "Author - Corporate",
      "Author - First", "Author - Full", "Author - Identifier", "Author - Last",
      "Book", "Conflict of Interest Statements", "Date - Completion",
      "Date - Create", "Date - Entrez", "Date - MeSH", "Date - Modification",
      "Date - Publication", "EC/RN Number", "Editor", "Filter", "Grant Number",
      "ISBN", "Investigator", "Investigator - Full", "Issue", "Journal",
      "Language", "Location ID", "MeSH Major Topic", "MeSH Subheading",
      "MeSH Terms", "Other Term", "Pagination", "Pharmacological Action",
      "Publication Type", "Publisher", "Secondary Source ID",
      "Subject - Personal Name", "Supplementary Concept", "Text Word", "Title",
      "Title/Abstract", "Transliterated Title", "Volume"]
    var opt
    for (index = 0; index < options.length; ++index) {
      opt = options[index]
      var connector = document.createElement("option")
      connector.value = opt
      connector.innerHTML = opt
      input_field.appendChild(connector)
    }

    cell_field.appendChild(input_field)
    return cell_field
}

function cellInput() {
    var cell_input = document.createElement("td")
    cell_input.id = "cellInput_" + INDEX_ROW
    var input_field = document.createElement("input")
    input_field.type = "text"
    input_field.name = "criteria[]"
    cell_input.appendChild(input_field)
    return cell_input
}

function cellButtonAddRow() {
    var cell_button = document.createElement("td")
    var button = document.createElement("i")
    button.className = "fa fa-plus-circle fa-2x"
    button.style = "color:green"
    button.setAttribute("aria-hidden", "true")
    button.onclick = function() {
      button.className = "fa fa-minus-circle fa-2x"
      button.style = "color:red"
      button.onclick = function() {
        row = button.parentNode.parentNode			    
        row.parentNode.removeChild(row)
      }
      addSearchField()
    }
			    
    cell_button.appendChild(button)
    return cell_button
}


  function addSearchField() {
    var form = document.getElementById("body_advanced_search");
    var table_row = document.createElement("tr");
    table_row.id = "tableRow_" + INDEX_ROW

    var cell_link = cellLink()
    var cell_field = cellField()
    var cell_input = cellInput()
    var cell_button = cellButtonAddRow()

    table_row.appendChild(cell_link)
    table_row.appendChild(cell_field)
    table_row.appendChild(cell_input)
    table_row.appendChild(cell_button)
    form.appendChild(table_row)
    INDEX_ROW += 1

}

addSearchField()
var first_cell_link = document.getElementById("cellLink_0");
first_cell_link.innerHTML = ""

</script>

{% endblock %}
