{% extends "open_review/base.html" %}
{% load staticfiles %}
{% block body %}

<script>
  $.fn.raty.defaults.path = "{% static 'raty/lib/images/' %}";
</script>

<!-- This script is making the star rating icons -->
<div class="container-fluid">
  <h1>{{ publication.title }}</h1>
  <div class="row-fluid">
    <div class="col-lg-8 col-md-8 col-xs-8">
        <div> Number of reviews: {{ publication.publicomment_set.count }}</div>
        <div id="rating_global">Overall rating: </div>
        <script>
          $('#rating_global').raty({ readOnly: true, score: {{ rating_overall }} });
        </script>
        <div id="rating_contribution">Contribution to field rating: </div>
        <script>
          $('#rating_contribution').raty({ readOnly: true, score: {{ rating_field_contribution }} });
        </script>
        <div id="rating_method">Methodological robustness rating: </div>
        <script>
          $('#rating_method').raty({ readOnly: true, score: {{ rating_methodology }} });
        </script>
       <div class="container">
          <b>Abstract: </b> {{ abstract | linebreaks }} </br>
          <b>Authors: </b> {{ publication.authors }}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
      <div>
        Full text link</br>
        <hr>
        <div id="full-text-link">
        </div>
      </div>
    <div>
        Similar articles</br>
        <hr>
        {% for publi, tags in similars %}
          <a href="{% url 'open_review:article_desc' publi.id %}">{{ publi.title }}</a></br>
      	[{{ publi.source }}, {{ publi.pub_date }}]
      	{% if 'pubmed_pubmed_reviews' in tags %}
      	  <span class="badge">Review</span>
      	{% endif %}
      	</br>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel-group">
  {% for comment in publication.publicomment_set.all %}
    <div class="panel panel-primary">
      <div class="panel-heading">
  	{{ comment.author.first_name }} {{ comment.author.last_name }}
      </div>
      <div class="panel-body">
        <div id="rating_global_{{ comment.id }}">Overall rating: </div>
        <script>
          $('#rating_global_{{ comment.id }}').raty({ readOnly: true, score: {{ comment.rating_overall }} });
        </script>
        <div id="rating_contribution_{{ comment.id }}">Contribution to field rating: </div>
        <script>
          $('#rating_contribution_{{ comment.id }}').raty({ readOnly: true, score: {{ comment.rating_field_contribution }} });
        </script>
        <div id="rating_method_{{ comment.id }}">Methodological robustness rating: </div>
        <script>
          $('#rating_method_{{ comment.id }}').raty({ readOnly: true, score: {{ comment.rating_methodology }} });
        </script>
  	<div>
  	  {{ comment.text }}
  	</div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% if request.user.id  %}
  {% if request.user.profile.id not in user_commented %}
    <form action="{% url 'open_review:comment' publication.id %}" method="post" class="col-lg-12 col-md-12 col-xs-12" onsubmit="return validateComment()" name="form_new_comment">
    {% csrf_token %}
      <legend> What did you think of this article?</legend>
      <div class="form-group">
        <div id="new_rating_global">Rating overall: </div>
        <script>
          $('#new_rating_global').raty({
            click: function(score, evt) {
  	      $('#form_rating_overall').val(score);
            }
          });
        </script>
        <input id="form_rating_overall" name="rating_overall" type="hidden">
        <div id="new_rating_contribution">Contribution to field rating: </div>
        <script>
          $('#new_rating_contribution').raty({
            click: function(score, evt) {
  	      $('#form_rating_field_contribution').val(score);
            }
          });
        </script>
        <input id="form_rating_field_contribution" name="rating_field_contribution"  type="hidden">
        <div id="new_rating_method">Methodological robustness rating: </div>
        <script>
          $('#new_rating_method').raty({
            click: function(score, evt) {
  	      $('#form_rating_method').val(score);
            }
          });
        </script>
        <input id="form_rating_method" name="rating_methodology" type="hidden">
        <label class="col-md-12 control-label"></label>
      </div>
      <div class="form-group">
        <label class="col-lg-12 control-label">Review</label>
        <textarea rows="10" cols="100" name="comment" class="form-control col-lg-12">Your review here</textarea>
      </div>
      <div class="form-group">
  	<button class="btn btn-secondary active">Save review</button>
      </div>
    </form>
  {% endif %}
{% else %}
  To comment, <a href="{% url 'open_review:login' %}">log in</a> or <a href="{% url 'open_review:create_profile' %}">create profile</a>
{% endif %}
</div>

<script>
  div_link = document.getElementById("full-text-link");
  div_link.innerHTML = "<i class='fa fa-spinner fa-spin fa-2x'></i>";

  var post_request = {'page': 0, 'page_size': 5};
  $.ajax({
    url: "{% url 'open_review:api_full_text_link' publication.id %}",
    type: 'GET',
    success: function(data, status, xhr) {
      div_link.innerHTML = data['link'];
    },
    error: function(exception){
      alert('Exception:' + exception);
    },
  })
</script>
<script>
  function validateComment(){
    var x = document.forms["form_new_comment"]
    var fields_mandatory = ["rating_field_contribution", "rating_overall", "rating_methodology"]
    for (var i = 0; i < fields_mandatory.length; i++){
      if (x[fields_mandatory[i]].value == "") {
        alert("Please fill ratings overall, contribution to field and methodological robustness")
        return false
      }
    }
  }
</script>
  
{% endblock %}
