{% extends "open_review/base.html" %}
{% load staticfiles %}
{% block body %}

<script>
  $.fn.raty.defaults.path = "{% static 'raty/lib/images/' %}";
</script>


<div id="raty-rating"></div>
<div class="container">
   {% for publi in publications %}
   <div class="row search_result">
     <a href="{% url 'open_review:article_desc' publi.id %}">{{ publi.title }}</a></br>
     Authors: {{ publi.authors }} </br>
     {% if publi.nb_comments %}
       <div id="rating-{{ publi.id }}">{{ publi.nb_comments }} ratings: </div>
         <!-- This script is making the star rating icons -->
         <script>
           $('#rating-{{ publi.id }}').raty({ readOnly: true, score: {{ publi.rating }} });
         </script>
     {% else %}
	No comment yet !
     {% endif %}
   </div>
   {% endfor %}
</div>
<div class="pull-right">
      <form action="{% url 'open_review:search' %}" method="post" class="form-inline">
	{% csrf_token %}
	<input type="hidden" name="search_query" value="{{ search_query }}">
	<input type="hidden" name="page" value="{{ next_page }}">
	<input type="hidden" name="page_size" value="{{ page_size }}">
	<button>Next page</button>
      </form>
</div>

<script>

  $('#default').raty();

</script>

{% endblock %}
