{% extends "open_review/base.html" %}
{% block body %}

<div class="container">
  <h1>Welcome to OpenReview</h1>
      <div class="container">
	<h2>What's the point</h2>
        Reviewing thoroughtly an article takes much time. Here, we gather review of other scientists, so one can quickly understand the strong points and shortcomings of an article.
      </div>
      <div class="container">
	<h2>Any cool feature?</h2>
	  <div>
          Not much. We list scientific papers and gather comments.
	  </div>
      </div>
</div>

{% endblock %}
